{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}
 <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Welcome to my corner of the digital world! 🌐 <br>
            As an experienced Software Engineer, I bring over 2.5 years of expertise to the table. Picture this: crafting sleek, user-centric software solutions is my bread and butter.🥯
            I thrive on weaving together design patterns, industry best practices, and collaborative teamwork to sculpt digital masterpieces that exceed expectations. <br>
            But it doesn't stop there! I'm on a perpetual journey of learning and innovation, always staying one step ahead of the tech curve. ✨
        </div>

        <div class="row">
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Engineer</h3>
            <p class="fst-italic">
              Feel free to reach out if you're looking for a dedicated professional to collaborate with on your next venture. Let's discuss your project and turn your vision into reality! 🚀
            </p>
            <div class="row">
              <div class="col-lg-10">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Supriya Yadav</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gurugram, Haryana, India</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>+91 9669443383</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>supriya.yadav7725@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}