{% extends 'basic.html' %} 
{% block title %} Projects{% endblock title %}

{% block body %} 

<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Education and Experience</h2>
        <p>Let's take a stroll through my educational and professional background.<br> 
          Follow along as I share the steps I've taken and the lessons I've learned along the way. 📚🚀</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title"><Summary>Summary</Summary></h3>
          <div class="resume-item pb-0">
            <h4>Supriya Yadav</h4>
            <p><em>Experienced Software Developer with over 2.5 years of expertise in architecting efficient, user-centric software solutions through adept utilization of design patterns, industry best practices, collaborative cross-functional teamwork, continuous learning, innovative problem-solving, a dedication to staying ahead of technological advancements, and a passion for delivering scalable, resilient code that exceeds end-users' expectations.</em></p>
            <ul>
              <li>Gurugram, Haryana, India</li>
              <li>+91 9669443383</li>
              <li>supriya.yadav7725@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4> Bachelor of Technology</h4>
            <h5>June 2017 - June 2021</h5>
            <p><em>IES IPS Academy | CGPA: 8.38</em></p>
            <p>Computer Science and Technology</p>
          </div>
          <div class="resume-item">
            <h4>Higher Secondary</h4>
            <h5>Mar 2015 - Mar 2016</h5>
            <p><em>St. Aloysius Sr. Sec. School | Percentage: 81.20</em></p>
          </div>
          <div class="resume-item">
            <h4>Senior Secondary</h4>
            <h5>Mar 2013 - Mar 2014</h5>
            <p><em>St. Aloysius Sr. Sec. School | CGPA: 9.40</em></p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Enpass Technologies Pvt. Ltd.</h4>
            <p><em>Gurugram, Haryana, India </em></p>
            <h4>Senior Software Developer</h4>
            <h5>Dec 2023 - Present</h5>
            <h4>Software Developer</h4>
            <h5>July 2021 - Dec-2023</h5>
              <ul>
                <li>
                  <strong>Advanced Cryptography Features : </strong>Implemented features based on symmetric and asymmetric cryptography and advanced cryptography concepts.
                </li>
                <ul>
                <li>
                  <em>Public Key Credentials: Passkeys</em>
                <li>
                  <em>Asymmetric Cryptography-based Password Recovery</em>
                </li>
                <li>
                  <em>Secure Vault Sharing</em>
                </li>
              </ul>
                <li>
                  <strong>Cloud Integration and Team Architecture : </strong>Implemented cloud integration via RESTful APIs and database modeling, enhancing team collaboration and architecture.
                </li>
                  <ul> 
                  <li>
                    <em>Microsoft 365</em>
                  </li>
                    <li>
                      <em> Workspace</em>
                    </li>
                  </ul>
                <li>
                  <strong>User Activity Monitoring : </strong>Implemented robust logging to monitor user behavior, aiding in threat detection, usage analysis, and system optimization.
                </li>
                <li>
                  <strong>Robust Authorization Controls : </strong>Implemented authorization management, navigating OAuth, and JWT to enhance overall security.
                </li>
                <li>
                  <strong>RESTful API Integration Expertise : </strong>Integrated several clouds, including Dropbox, iCloud, Nextcloud, along with the company’s license server and auxiliary server.
                </li>
                <li>
                  <strong>Encrypted Database Management : </strong>Secure data handling through SQLite and SQLCipher.
                </li>
                <li>
                  <strong>Optimized Query Execution : </strong> Introduced secure database query execution along with the concept of attached databases.
                </li>
                <li>
                  <strong>App Stability and Monitoring : </strong>Increased app stability by integrating Sentry and introducing Google Tests.
                </li>
                <li>
                  <strong>Codebase Refactoring and Redesign : </strong>Enhanced codebase quality through strategic refactoring and re-imagination of design elements, increasing the app's performance by approximately 25%.
                </li>
                <li>
                  <strong>Proactive Bug Resolution : </strong>Identified and addressed significant bugs, ensuring a resilient and reliable user experience.
                </li>
              </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

{% endblock body %}